* {
    box-sizing:border-box;
}
body {
    background-color: #b7b7b775;
    width:100%;
    height:100%;
    padding-bottom:0;
}
.first_section {
    padding-left:42px;

}

/*.nav-tabs li a {*/
    /*border: 1px solid !important;*/
    /*border-bottom-left-radius: 12px;*/
    /*border-top-right-radius: 12px !important;*/
/*}*/
.hei-1 {
    height:205px;
}
.hei-2 {
    height:150px;
    background-color:white;
}
.font {
    font-size: 9px;
    font-weight: bold;
    font-style: italic;
}

.canvas-wrapper, .session-canvas-wrapper {
    overflow: auto;
    height: 370px;
    border: 2px solid #e8e8e8;
    position: relative;
    background: #fff;
}
.drawing-board{background:#fff;}
.session-canvas{background: #fff;}
.canvas-text-input{
    border:none;
    padding: 0px;
    margin:0;
    opacity: 0;
    border-radius: 0px;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    white-space: pre-wrap;
    height: auto;
}
.option-menu-wrapper,.science-menu-wrapper{position: relative;}
.option-menu {
    position: absolute;
    width: 100px;
    list-style: none;
    padding: 5px;
    background: lightyellow;
    border: 1px solid #ccc;
    margin: 0;
    left: 84%;
    top: 0;
    z-index: 998899;
}
.option-menu-wrapper:hover .option-menu{display: block!important;}
#paste-tool.active{
    background:#0f9d58;
}
.option-menu li a {
    display: block;
    margin-bottom: 10px;
    padding:3px 0;
}
.notif-span {
    display: inline-block;
    float: right;
    height: 15px;
    width: 15px;
    background: #F44336;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    font-size: 12px;
    padding-top: 1px;
}
.option-menu li a span{border-bottom:solid #000;display: block; }
.option-menu li a:hover,.option-menu li a.active {
    box-shadow: 0px 0px 1px 1px #0c0cc0d9;
}
.ui-slider-handle{
    text-align: center;
    line-height: normal;
    font-size: 10px;
    border-radius: 100%!important;
    top: -2px;
    outline: none!important;
    border:#007fff!important;
    background:#007fff!important;
    color:#fff!important;

}
.ui-slider-handle.ui-state-active{outline:none!important;border:#007fff!important;}
.ui-widget.ui-widget-content{height:10px;}
.ui-slider-horizontal .ui-slider-handle {
    top: -6px;
    height: 20px;
    width: 20px;
    line-height: 22px;
    cursor: pointer;
}
.eraser-slider{top:10px;width: 150px;}
.font-menu{width: 500px;text-align: left;padding:10px 15px 0px 15px;}
.font-menu h4{font-size:16px;}
.font-menu h5{font-size:14px;margin-bottom:0;}
.font-menu ul{list-style: none;padding:5px;background:#fff;height:150px;overflow-y: auto;}
.font-menu ul li a{margin-bottom:3px;color:#000;padding:2px;font-size:12px;text-decoration: none!important;}

.font-wrapper{background:#BDBDBD;padding:10px 15px;}
.demo-font-text {
    padding: 5px 10px;
    text-align: center;
    background: #fff;
    margin-bottom: 10px;
}

.color-menu{width:300px;}
.color-pallet{list-style: none;padding:0;margin:0;}
.color-pallet li a{display: inline-block;width: 25px;height: 25px;border:1px solid #000;border-radius:100%;margin-bottom:3px;}
.fake-canvas{position:absolute;top:0;left:0;display: none;background:transparent;z-index:9;}
.canvas-writing.full-screen{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:#fff;
    z-index: 99;
}

#symbol-modal .modal-dialog{max-width: 800px;width: 800px;}
#symbol-modal .modal-header{padding:0;}
#symbol-modal h4{font-size:14px;margin:0;padding:10px 15px;}
#symbol-modal .modal-footer{padding:5px 15px;}
#symbol-modal .modal-body{background:#ccc;}
.f-50 {
    font-size: 50px;
    display: block;
    line-height: 60px;
    margin-top: -10px;
}
.f-32{font-size:32px;font-family: "Times New Roman";}
.symbol-menu  li{display:inline-block;vertical-align:middle;width:60px;}
.symbol-menu  li a{text-decoration: none!important;color:#5d5d5d;}
.function-menu {
    width: 370px;
    padding-left: 30px;
    padding-right: 15px;
}
.misscelleneous-menu  li{width:80px;}
.misscelleneous-menu{
    width: 450px;
    padding-left: 30px;
    padding-right: 15px;
}

.eqEdEquation{
    width: 100%!important;
    height: 200px;
    padding: 20px;
    background: #fff;
    margin: 20px 0;
}
.menuItem{width: 40px!important;}
#simple-functions{padding-top:20px;}
#integralNoUpperNoLowerButton{height:60px;}
#integralButton{height:80px;margin-top:-10px;}
#limitButton{width: 60px!important;}
#logLowerButton{width: 80px!important;}
.tab-links a{padding:5px 10px;}
#tab-content-top{width:100%;}
.tab-links a{background:#9C9C9C;}
.outerTab.active a, .outerTab.active a:hover{background:#fff;}
#tab-content-top{background:#fff;}
.symbol-dropdown {
    width: 450px;
    bottom: 0;
    top: initial;
}
.symbol-dropdown li{float:left;margin-right:2px;}

.power-dropdown .x-value-sub, .power-dropdown .x-value-sup {
    display: inline-block;
    font-size: 30px;
    padding: 10px 30px 20px 5px;
}
.power-dropdown input{display: inline-block;width:40px;position: absolute;right:15px;}
.power-dropdown .y-value-sub{bottom:15px;}
.power-dropdown .x-value-sub{padding:5px 30px 30px 5px;}
#text-holder{position:absolute;left:0;top:0;width:auto;height:auto;min-width:50px;min-height:25px;outline:none!important;margin:0;padding:0;}
#text-holder p{margin:0;padding:0;line-height: normal;}

.shape-menu li{display: inline-block;}
.shape-menu{width: 160px;text-align:left;padding:3px 10px;}
.mx-auto img{max-width:100%;}

.tools-list {
    max-width: 4%;
    padding-right: 0;
    text-align: left;
    padding-left: 20px;
    z-index: 999;
}
.tools-list .my-1{text-align: left!important;position: relative;
    left: -8px;}
.graph-menu{width:50px;}



.btn-square.active{}
#cloud-modal h5, #print-modal h5 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

.modal .modal-header {
    padding: 5px 15px 15px 15px;
    background: #ffbe5e;
}
 .modal .modal-footer {
    background: #f1e8e8;
    padding:5px 5px 10px 5px;
    text-align: center;
}
#print-modal input[type="radio"]:not(:checked),#print-modal input[type="radio"]:checked {
     position: static;
     left: -9999px;
     opacity: 1;
    background:#fff;
}
#print-modal [type="radio"]:not(:checked) + label, #print-modal [type="radio"]:checked + label {
    position: relative;
     padding-left: 0px;
     cursor: pointer;
    display: inline-block;
     height: auto;
     line-height: normal;
     font-size: 14px;
    transition: none;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: auto;
    user-select: auto;
}
[type="radio"] + label:before, [type="radio"] + label:after{content:none;}
#print-modal label{font-weight: normal;font-size:14px;}
.modal-footer .btn-close {
    background: #fff;
    color: #000;
    box-shadow: 0px 1px 1px 1px #8a8686;
}

.modal-content{width:350px;background: #ffbe5e;padding:10px;margin:auto;}
#print-modal .modal-content{width:500px;}
#print-modal .modal-body{padding-top:30px;padding-bottom: 5px;}
.print-portions,.print-options{
    border: 1px solid #fff;
    padding: 10px;
    box-shadow: 1px 0px 1px 1px #e2e2e2;
}
.print-options{margin-top:5px;margin-bottom:5px;}

.modal-body{max-height:400px;overflow-y:auto;background:#f1e8e8;}
.canvas-wrapper.no-scroll{overflow: hidden;}
.navbar-nav>li>a {
    margin: 0;
    padding: 5px 14px;
}
.navbar.navbar-default{position:relative;margin-bottom:5px;min-height: 30px;z-index: 99999;}
.tools-list .btn {
    width: 85%;
    height: 4vh;
    padding: 0;
    margin-bottom: 3px;
    transition: 0.3s ease all;
    min-width: 36px;
}
.tools-list .btn:hover,.tools-list .btn.active{background-color:#009688 !important}
.top-functions {
    padding: 0px 35px 8px 21px;
}
/*.tools-list .btn img {*/
    /*width: 90%!important;*/
    /*height: 90%!important;*/
/*}*/
.canvas-list {
    width: 96%!important;
    left: -15px;
}
.modal-header{position: relative;}

#symbol-modal .modal-header .btn-close{
    margin-right: 7px;
    top: -6px;
}
.tab-links li{margin-top:0;}
/*.symbol-select-dropdown{position:relative;top:8px;}*/
/*.symbol-select-dropdown .form-control{*/
    /*height: 28px;*/
    /*padding: 3px 10px;*/
/*}*/
.sp-input{background:#fff;}
.btn-sm i{display: inline-block;vertical-align: middle;top:-1px!important;}
.participant-list{
    height:188px;background:#F5F5F5;overflow-y: auto;border: 1px solid #eceaea;}
.chat-room {height:140px;overflow-y: auto;background: #fff;border: 1px solid #eceaea;}
.chat-board{margin-bottom:60px;box-shadow: 0px 0px 1px 1px #d4d4d4;margin-top:10px;padding-bottom:20px;}
#chat-input-area {background:#ccc;padding: 3px 2px 0px 2px;}
#chat-input-area .input-group{margin:0;}
#chat-input-area .input-group-addon{padding-left:4px;}
#chat-input{padding-left:10px;padding-right:10px;}
.header.header-default{background: #e2e2e2;padding-bottom: 15px;
    padding-top: 15px;}
.header.header-default h2{font-size:15px;}
#chat-input-area .dropdown-menu {
    top: initial;
    bottom: 25px;
    left:-33px;
}
#chat-input-area .list-inline>li{vertical-align: middle;}
/*#enable-text-tool.border{background: #1f91f3 !important;}*/
.sp-container.sp-light{top:30%!important;}
.sp-cancel {
    background-color: #eeeeee;
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1;
    padding: 1px 4px;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    vertical-align: middle;
    text-transform: capitalize;
}
#loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    text-align: center;
    padding-top: 20%;
    z-index: 9999;
}
.modal-header .btn-close {
    padding: 0px 11px;
    position: absolute;
    right: -2px;
    top: -5px;
    background: #dc0303!important;
    color: #fff;
    font-size: 22px!important;
}
.modal-header h3,.modal-header h4, .modal-header h5{margin:0;}
.pad-tb-10{padding-top:10px;padding-bottom:10px;}
.sub-dropdown-menu{top:initial!important;}
.top-navbar>li>.dropdown-menu{margin-top:0!important;z-index: 9999999999;}
.top-navbar>li>.dropdown-menu>li>a{
    padding-top:2px;padding-bottom:2px;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.top-navbar .dropdown-menu .divider{margin:0;}
.color-indicator-wrapper{margin-left:-5px;margin-right:-5px;}
.color-indicator-wrapper .sp-input{width:50%;float:left;box-sizing: border-box;}
.color-indicator-wrapper #color-indicator-sp {
    width: 50%;
    border: 2px inset #ccc;
    background: #000;
    height: 28px;
    float: left;
    box-sizing: border-box;
}
.modal-open {
    padding-right: 0px !important;
    overflow-y: auto;
}
#tap-panel-symbols{background:#fff;padding:10px 15px;min-height: 170px;}
.nav-tabs li.active a:hover, .nav-tabs li.active a:active, .nav-tabs li.active a:focus{background:#fff!important;}
#tap-panel-symbols .tab-pane a{display: inline-block;color:#000;margin-right:10px;font-size:20px;padding:5px;text-decoration: none!important;}
#tap-panel-symbols .tab-pane a img{width:30px;}
#equation-editor-wrapper{background:#fff!important;color:#000!important;min-height: 150px!important;border:1px solid #ccc;width:100%!important;max-width:none!important;margin-top:20px;max-width:none;}
.matheditor-wrapper-equation-editor-wrapper{max-width: none!important;width:100%!important;}
#symbol-modal .modal-body{position:relative;}
.matheditor-toolbar-equation-editor-wrapper {
    width: auto!important;
    max-width: none!important;
    border-radius: 0!important;
    position: relative!important;
}
#tab-2-equation-editor-wrapper .matheditor-btn-span{height:70px;width:70px!important;}
#tab-2-equation-editor-wrapper .matheditor-btn-span .mq-root-block {
    height: 70px!important;
    width: 70px!important;

}



.tab-content-me{min-height: 150px;}
#tab-1-equation-editor-wrapper .close-btn{display: none;}
.modal.active{
    background: rgba(0,0,0,0.1);
    display: block;
}
#drag-div{position:absolute;width:30px;height:30px;border:1px dotted #ccc;z-index: 99;top:0;left:0;display: none;}
#equation-editor-wrapper .mq-root-block{
    display: inline-block!important;
    width: auto!important;
    max-width: 100%!important;
}
.mq-cursor{position:absolute!important;margin-top:5px;}
.mq-sqrt-prefix{transform:none!important;}

#online-users{list-style: none;padding:0;}
#online-users li{padding:5px;font-size:14px;font-weight:600;cursor: pointer;border-bottom:1px solid #ccc;}
#online-users li.active{
    background: #3F51B5;
    color: #fff;
}
#chat-board{list-style: none;margin:0;padding:10px;}
#chat-board li:before,#chat-board li:after{content:'';display: block;clear: both;width:100%;}
#chat-board li{
    margin-bottom: 2px;
}
/*#chat-board li div{*/
    /*display: inline-block;*/
    /*float:left;*/
/*}*/


/*#chat-board li.mine div .message{*/
    /*background:#607D8B*/
/*}*/
#chat-board li p{margin:0;}
#chat-board li p .username{
    color:#7c7979;
    font-size: 11px;
    font-weight: bold;
    margin-right:20px;
}

#chat-board li p .time{
    font-size:12px;
    color:#a8a8a8;
}
#chat-board li .message{position:relative;top:-2px;color:#000;font-weight:600;}
#chat-board  .mine .message{color:#3F51B5;}
.chat-card{margin-top:5px;}
.chat-card .header{padding:4px 20px;}
.chat-card .body{padding:0px 20px;}
.symbol-dropdown .btn{
    position:relative;
    width:29px;
    height:29px;
    line-height: 29px;
}

.symbol-dropdown .btn:focus {
    outline: 0;
    color: #fff!important;
    border:2px inset #3cb44b!important;
}
.symbol-dropdown .btn:focus:before {
    color:#fff!important;
    border:2px inset #3cb44b!important;
}
.btn.matheditor-btn-span{width:auto;height:auto;padding:0px;}
#tab-1-equation-editor-wrapper .op-btn .op-btn-icon,#tab-5-equation-editor-wrapper  .op-btn .op-btn-icon{
    min-width: 40px;
    text-align: center;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
}
#tab-3-equation-editor-wrapper .op-btn-icon,#tab-4-equation-editor-wrapper .op-btn-icon{

    min-height: 40px;
    width: auto;
    display: inline-block;
    padding: 5px;
    line-height: 35px;
}
.btn.matheditor-btn-span.active{
    background:#009688 !important;
    color:#fff;
}
.science-menu-wrapper:hover .option-menu{display: block!important;}

.prev-next-navbar .btn{padding:4px;font-size:12px!important;height:25px;}
.prev-next-navbar .btn img {
    width: 25px;
    margin-top: -10px;
    position: relative;
    top: 5px;
}
.prev-next-navbar{padding-top:2px;padding-right:15px;}
.prev-next-navbar>li{margin-left:10px!important;}
.prev-next-navbar .btn.btn-primary{color:#fff!important;}
.prev-next-navbar .btn.btn-back span{display: inline-block;position:relative;left:-5px;}
.prev-next-navbar .btn.btn-next span{display: inline-block;position:relative;left:5px;}
.btn.btn-public {
    padding: 8px 20px;
    /* font-size: 12px!important; */
    position: relative;
    top: 5px;
}

.top-nav-tools .btn-square {
    padding: 3px 9px;
    min-height: 4vh;
    width: 5%;
}
.top-nav-tools .btn-square.active{background-color:green!important;}
body::-webkit-scrollbar {
    width: 0;
}
.top-nav-tools #enable-drawing.active {
    background-color: #F44336!important;
}
.top-nav-tools #enable-drawing.active {
    background-color: #F44336!important;
}
body::-moz-scrollbar {
    width: 0;
}
body::-ms-scrollbar {
    width: 0;
}
body::scrollbar {
    width: 0;
}
body{
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none;   /* Firefox all */
    -ms-user-select: none;  /* IE 10+ */
    user-select: none;  /* Likely future */
}
.emoji {
    height: 1em; /*edit for height*/
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}
.smily-menu li a span{font-size:16px;color:#5d5d5d!important;text-decoration: none!important;display: inline-block;vertical-align: middle;}
.form-control{border: 1px solid #ccc!important;}
.canvas-user-lists {
    width: 80%;
    max-width: 100%;
    overflow-x: auto;
    margin-top: -35px;
}
.canvas-user-lists ul {
    list-style: none;
    padding: 0;
    min-height: 36px;
    margin-bottom: 0;
}
.canvas-user-lists:after{content:'';display: block;clear: both;}
.canvas-user-lists ul li{
    float: left;
    padding: 8px 15px;
    background: #fff;
    border-right: 1px solid #ccc;
}
.canvas-user-lists ul li.active {background:#0082c8;color:#fff;}
.btn-public.active{
    background-color: #1f91f3 !important;
    border-color:#1f91f3 !important;
}
#online-users li{font-size:13px;}
#online-users li .span-clear{
    font-size: 10px;
    float: left;
    width:40%;
    height:fit-content;
    color: #ccc;
    padding-top: 4px;
    display:none;
    box-sizing: border-box;
}

#online-users li.active .span-clear{
    display:block;
}
#online-users li .user-name-span{
    width: 60%;
    display: block;
    float: left;
    height: fit-content;
    box-sizing: border-box;
}
#online-users li::after{
    content : '';
    display: block;
    clear:both;
}
.student-request-list {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    left: 0;
    list-style: none;
    bottom: 0;
    background: rgba(245, 236, 236, 0.48);
    z-index: 9999;
    padding-top: 35px;
}
.student-request-list li {
    clear: both;
    width: 25%;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
}
.mdb-color.lighten-3 {
    background-color: #929fba!important;
}
.card .card-body .card-text {
    color: #747373;
    font-size: .9rem;
    font-weight: 400;
}
.card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.rounded-bottom {
    border-bottom-right-radius: .25rem!important;
    border-bottom-left-radius: .25rem!important;
}
.peach-gradient {
    background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262)!important;
    background: -o-linear-gradient(50deg,#ffd86f,#fc6262)!important;
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
}

header .navbar.navbar-default{
    background:#000;

}
header .navbar-default .navbar-nav>li>a {
    color: #fff;
}
header .top-navbar>li>.dropdown-menu{
  display: none;
}
header .top-navbar>li.open>.dropdown-menu{
    display: block;
    transform: none;
    tansform-origin: none;
    -webkit-tansform-origin: none;
    -moz-tansform-origin: none;
}
.dropdownhover-bottom {
    -webkit-transform-origin: 0% 0!important;
    transform-origin: 0% 0!important;
}